.navbar{
    background-color: #202c33;
    padding-left: 50px;
}
.left{
    width: 40%;
    overflow: scroll;
}
body{
    background-color: #111b21;
}
.user{
    font-size: 6vh;
    color: rgb(87, 156, 145);
}
.navicon{
    color: #abb7be;
    font-size: 20px;
    margin-right: 40px;
}
.place{
    background-color: #202c33;
}
.div1{
 margin-top: 30px;
 margin-left: 20px;
}
input{
    width: 50vh;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    border: none;
    color: #abb7be;
    background-color: #202c33;
}
.bars{
    color: #abb7be;
    font-size: 25px;
}
.i1{
    font-size: 50px;
    color: palevioletred;
}
.flex{
    display: flex;
}
.flex h6{
    color: white;
    margin-left: 10px;
}
.box1{
    margin-left: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #202c33;
}
.box1 p{
    color: #abb7be;
    margin-left: 60px;
    margin-top: -30px;
}
.i2{
    color: rgb(0, 157, 255);
    font-size: 50px;
}
.i3{
    font-size: 50px;
    color: rgba(159, 94, 219, 0.705);
}
.i4{
    font-size: 50px;
    color: antiquewhite;
}
.i5{
    font-size: 50px;
    color: rosybrown;
}
.footer{
    margin-top: 20px;
}
.footer p{
    color: white;
    text-align: center;
}
.special{
    color: skyblue;
}
.time{
    margin-right: 30px;
    color: #00a884;
}
.circle{
    color: black;
    margin-right: 5px;
    background-color: #00a884;
    font-size: 11px;
    border: 2px solid #00a884;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 30px;
}
.whole{
    display: flex;
}
.image{
    text-align: center;
    margin-left: 40vh;
}
.right{
    background-color: #202c33;
    width: 60%;
    height: 100vh;
    padding-top: 25vh; position: relative;
    border-left: 0.5px solid rgb(87, 85, 85);
}
.right h1{
    color: #d1d5d8;
    font-weight: 200;
    text-align: center;
}
.right p{
    color: #abb7be;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 35px;
}
.last{
    padding-top: 20%;
}
button{
    background-color: #00a884;
    border: none;
    border-radius: 25px;
    height: 40px;
    width: 130px;
    margin-left: 48vh;
}
@media screen and (max-width:600px) {
    .navicon{
        margin-right: 20px;
    }
    .div1 ,.box1{
        margin-left: 10px;
    }
    .navbar{
        padding-left: 10px;
    }
    .footer p{
        font-size: 13px;
    }
    .left{
        width: 100%;
    }
    input{
        width: 40vh;
    }
    .box1 p{
        font-size: 15px;
    }
    .time{
        margin-right: 6px;
    }
    .circle{
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 3px;
        padding-right: 3px;
        font-size: 9px;
    }
    .right{
        display: none;
    }
}
@media screen and (max-width:768px) {
    .right{
        display: none;
    }
    .left{
        width: 100%;
    }
}
@media screen and (max-width:1200px) {
    .image{
        margin-left: 30vh;
    }
    button{
        margin-left: 37vh;
    }
    .time{
        margin-right: 3px;
    }
    .box1{
        font-size: 17px;
    }
}